/* Base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #003366;
    color: white;
    padding: 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 200px;
    width: 70vw;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

header h1 {
    font-size: 36px;
    margin: 5px 0;
}

header p {
    font-size: 18px;
    margin: 0;
}
